spring.application.name=OverCoffeeBackend

# PostgreSQL Database Configuration

# For local development, replace the placeholders with your actual database credentials.
spring.datasource.url=jdbc:postgresql://localhost:{DATABASE_PORT}/{DATABASE_NAME}
spring.datasource.username={USERNAME}
spring.datasource.password={PASSWORD}

spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
